.register4
  .register4__header
    .register4__header__logo
      = image_tag src="/images/fmarket_logo_red.svg",class: 'mercari'
    .register4__header__bar
      %nav.progress-bar4
        %ol.clearfix
          %li.progress-bar4__active
            会員情報
            .progress-bar4__active__status
          %li.progress-bar4__active__phone-number
            電話番号認証
            .progress-bar4__active__status__phone-number
          %li.progress-bar4__active__address
            お届け先住所入力
            .progress-bar4__active__status__address
          %li.progress-bar4__active__payment
            支払い方法
            .progress-bar4__active__status__payment
          %li.progress-bar4__active__complete
            完了
            .progress-bar4__active__status__complete
  .register4__main
    .register4__main__title
      支払い方法
  =render 'card'
  =render 'users/footer'