.register__footer
  %ul.register__footer__text
    %li.register__footer__text__item
      プライバシーポリシー
    %li.register__footer__text__item
      メルカリ利用規約
    %li.register__footer__text__item
      特定商取引に関する表記
  = image_tag src="/images/logo_gray.svg",class: 'register__footer__logo'
  .register__footer__copyright
    %small &copy;lumine Co.,Ltd.