.register
  .register__header
    = image_tag src="/images/fmarket_logo_red.svg",class: 'mercari'



= link_to "メールアドレスで登録",register1_user_steps_path
= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post
= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post