.html
  .hader
    = render "shared/logintop"
  .sell
    = render "shared/sell"
  .pan
    メルカリ＞マイページ＞ログアウト
  .contents-logout
    .contents-logout__left
      = render "left"
    .contents-logout__right
      =link_to destroy_user_session_path ,method: :delete do
        .contents-logout__right__btn
          .contents-logout__right__btn__text
            ログアウト
  .footer
    = render "shared/footer"