.html
  .hader
    = render "shared/header"
  .sell
    = render "shared/sell"
  .pan
    - breadcrumb :point
    =render 'layouts/breadcrumbs'
  .contents-mypage
    .contents-mypage__left
      = render "mypages/left"
    .contents-mypage__right
      .contents-mypage__right__voucher
        .contents-mypage__right__voucher__title
          ポイント
        .contents-mypage__right__voucher__items
          .contents-mypage__right__voucher__items__item
            .contents-mypage__right__voucher__items__item__left
              .contents-mypage__right__voucher__items__item__left__detail
                .contents-mypage__right__voucher__items__item__left__detail__name
                  ポイント
                .contents-mypage__right__voucher__items__item__left__detail__price
                  =current_user.point.to_s(:delimited)
                  P