.html
  .hader
    = render "shared/logintop"
  .sell
    = render "shared/sell"
  .pan
    メルカリ＞マイページ
  .contents-mypage
    .contents-mypage__left
      = render "mypages/left"
    .contents-mypage__right
      .contents-mypage__right__title
        プロフィール
      .contents-mypage__right__main
        .contents-mypage__right__main__profile
        .contents-mypage__right__main__profile__name
        .contents-mypage__right__main__profile__content