#overlay
  #modalWindow
    .modal-message-box
      .modal-message-box_title
        %div 出品が完了しました。
      .modal-message-box_sentence
        %div あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
    %button#modal-close-btn 続けて出品する 
    %button#delete-comformation-btn 商品ページへ