.header__bottom__right__good,
.header__bottom__right__info,
.header__bottom__right__todo,
.header__bottom__right__my {
  float: left;
  display: flex;
  justify-content: flex-start;
  padding: 0 7px;
  &__text {
    color: black;
  }
}

.header__bottom__right__good__text,
.header__bottom__right__info__text,
.header__bottom__right__todo__text,
.header__bottom__right__my__text {
  margin-left: 10px;
  line-height: 36px;
}

.contents-mypage {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(239, 239, 239);
  padding-bottom: 40px;
  &__left {
    width: 350px;
    height: 100%;
    margin: 40px 40px 0px 330px;
    &__lists {
      &__mypagelist {
        &__tag {
          height: 30px;
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #eee;
          background-color: #fff;
          padding: 10px 20px;
          line-height: 30px;
          font-size: 13px;
          &__text {
            color: black;
          }
          &__icon {
            color: black;
          }
        }
        &__title {
          margin-top: 40px;
          font-size: 16px;
          font-weight: bold;
          color: #202020;
        }
      }
    }
  }
  &__right {
    width: 990px;
    margin: 40px 330px 0px 0px;
    &__top {
      &__user {
        margin: 0 auto;
        text-align: center;
        background-image: url(/images/profile.jpg);
        padding: 40px 20px;
        &__name {
          font-size: 15px;
          font-weight: 600;
          color: #404040;
        }
        &__count {
          display: flex;
          justify-content: center;
          margin-top: 8px;
          font-size: 14px;
          &__value {
            margin-right: 20px;
            color: #505050;
          }
          &__sell {
            color: #505050;
          }
        }
      }
    }
    &__title {
      padding: 40px 64px;
      border-bottom: 3px solid #f5f5f5;
      font-size: 22px;
      text-align: center;
      background-color: #fff;
    }
    &__main {
      padding: 70px 200px 70px;
      background-color: #fff;
      &__card {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
      }
      &__button {
        background-color: #ea352d;
      }
    }
    &__info {
      padding: 70px 180px 100px;
      background-color: #fff;
    }
    &__mainprofile {
      &__profile {
        &__name {
          height: 200px;
          background-image: url("/images/profile.jpg");
          display: flex;
          justify-content: center;
          align-items: center;
          &__icon {
            margin-right: 10px;
          }
          &__form {
          }
        }
        &__content {
          padding: 20px;
          background-color: #fff;
        }
        &__button {
          background-color: #fff;
          padding: 0 20px 40px;
        }
      }
    }
    &__middle {
      background-color: white;
      font-size: 16px;
      &__tablist {
        &__tab {
          display: flex;
          justify-content: space-between;
          height: 80px;
          line-height: 80px;
          &__info {
            width: 50%;
            background-color: white;
            font-size: 17px;
            text-align: center;
            border-top: 2px solid #dddddd;
          }
          &__todo {
            width: 50%;
            background-color: #eee;
            font-size: 17px;
            text-align: center;
            border-top: 2px solid #dddddd;
          }
        }

        &__list {
          &__tag {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid #eee;
            list-style: none;
            padding: 16px;
            position: relative;
            &__logo {
              width: 48px;
              height: 48px;
              .mypage_list_logo {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
            }
            &__text {
              margin: 0 40px 0 68px;
              display: flex;
              justify-content: flex-start;
            }
            &__sentense {
              margin-left: 20px;
              &__time {
                display: flex;
                justify-content: flex-start;
                &__icon {
                  margin-right: 8px;
                  color: gray;
                  font-size: 14px;
                }
                &__text {
                  margin-right: 8px;
                  color: gray;
                  font-size: 14px;
                }
              }
              &__text {
                font-size: 14px;
              }
            }
            &__icon {
              position: absolute;
              top: 50%;
              right: 16px;
            }
          }
          &__watch {
            border-bottom: 1px solid #eee;
            list-style: none;
            padding: 16px;
            &__text {
              background-color: lightgray;
              height: 56px;
              text-align: center;
              line-height: 56px;
              font-size: 14px;
            }
          }
        }
      }
    }
    &__bottom {
      margin-top: 40px;
      background-color: white;
      font-size: 16px;
      &__title {
        height: 72px;
        line-height: 72px;
        background-color: #f5f5f5;
        padding-left: 20px;
      }
      &__tab {
        display: flex;
        justify-content: space-between;
        height: 80px;
        line-height: 80px;
        &__left {
          width: 50%;
          background-color: white;
          font-size: 17px;
          text-align: center;
        }
        &__right {
          width: 50%;
          font-size: 17px;
          text-align: center;
          background-color: #c0c0c0;
        }
      }
      &__lists {
        &__tag {
          &__list {
            border-bottom: 1px solid #eee;
            list-style: none;
            padding: 16px;
            &__watch {
              background-color: lightgray;
              height: 56px;
              text-align: center;
              line-height: 56px;
              font-size: 14px;
            }
          }
          &__item {
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid #eee;
            list-style: none;
            padding: 16px;
            position: relative;
            &__icon {
              position: absolute;
              top: 50%;
              right: 16px;
            }
            &__sentense {
              &__text {
                font-size: 14px;
              }
              &__time {
                display: flex;
                justify-content: flex-start;
                &__icon {
                  margin-right: 8px;
                  color: gray;
                  font-size: 14px;
                }
                &__text {
                  margin-right: 8px;
                  color: gray;
                  font-size: 14px;
                }
              }
            }

            &__logo {
              width: 48px;
              height: 48px;
              .mypage_list_logo {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    &__exhibition {
      &__title {
        height: 80px;
        padding-left: 20px;
        background-color: #f5f5f5;
        line-height: 80px;
        font-weight: bolder;
      }
      &__tab {
        height: 80px;
        line-height: 80px;
        display: flex;
        background-color: #dddddd;
        &__button {
          text-align: center;
        }
      }
      &__items {
        background-color: #fff;
        &__item {
          border-bottom: 1px solid #f5f5f5;
          display: flex;
          justify-content: space-between;
          padding: 20px;
          &__left {
            display: flex;
            &__image {
              .mypage_list_logo {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
            }
            &__detail {
              margin-left: 20px;
              &__name {
                color: #707070;
                font-size: 14px;
                margin-bottom: 7px;
              }
              &__status {
                width: fit-content;
                padding: 1px 4px;
                color: #fff;
                font-size: 12px;
                background-color: dodgerblue;
                border-radius: 2px;
                &__complete {
                  width: fit-content;
                  padding: 1px 4px;
                  color: #fff;
                  font-size: 12px;
                  background-color: #c0c0c0;
                  border-radius: 2px;
                }
                &__stop {
                  width: fit-content;
                  padding: 1px 4px;
                  color: #fff;
                  font-size: 12px;
                  background-color: #ea352d;
                  border-radius: 2px;
                }
              }
            }
          }
          &__icon {
            .angle_l {
              font-size: 25px;
              color: #606060;
              margin-top: 15px;
            }
          }
        }
        &__empty {
          height: 300px;
          background-color: #fff;
          color: #808080;
          text-align: center;
          .empty_logo {
            margin-top: 50px;
            width: 150px;
            height: auto;
          }
        }
      }
      &__page {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .prev {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #c0c0c0;
          border-radius: 4px;
          text-align: center;
          line-height: 40px;
          font-size: large;
        }
        .next {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #c0c0c0;
          border-radius: 4px;
          text-align: center;
          line-height: 40px;
          font-size: large;
        }
      }
    }
    &__voucher {
      &__title {
        height: 80px;
        padding-left: 20px;
        background-color: #f5f5f5;
        line-height: 80px;
        font-weight: bolder;
      }
      &__tab {
        height: 80px;
        line-height: 80px;
        display: flex;
        background-color: #dddddd;
        &__button {
          text-align: center;
        }
      }
      &__items {
        background-color: #fff;
        &__item {
          border-bottom: 1px solid #f5f5f5;
          padding: 20px;
          &__left {
            &__detail {
              margin-left: 20px;
              display: flex;
              justify-content: space-between;
              &__name {
                color: #707070;
                font-size: 14px;
              }
              &__price {
                color: #707070;
                font-size: 17px;
                margin-right: 40px;
                color: #505050;
              }
              &__icon {
                font-size: 20px;
                color: #606060;
              }
            }
          }
        }
      }
    }
    &__purchased {
      &__title {
        height: 80px;
        padding-left: 20px;
        background-color: #f5f5f5;
        line-height: 80px;
        font-weight: bolder;
      }
      &__tab {
        height: 80px;
        line-height: 80px;
        display: flex;
        background-color: #dddddd;
        &__button {
          text-align: center;
        }
      }
      &__items {
        background-color: #fff;
        &__item {
          border-bottom: 1px solid #f5f5f5;
          display: flex;
          justify-content: space-between;
          padding: 20px;
          &__left {
            display: flex;
            &__image {
              .mypage_list_logo {
                width: 48px;
                height: 48px;
                object-fit: cover;
              }
            }
            &__detail {
              margin-left: 20px;
              &__name {
                color: #707070;
                font-size: 14px;
                margin-bottom: 7px;
              }
              &__status {
                width: fit-content;
                padding: 1px 4px;
                color: #fff;
                font-size: 12px;
                background-color: dodgerblue;
                border-radius: 2px;
                &__complete {
                  width: fit-content;
                  padding: 1px 4px;
                  color: #fff;
                  font-size: 12px;
                  background-color: #c0c0c0;
                  border-radius: 2px;
                }
              }
            }
          }
          &__icon {
            .angle_l {
              font-size: 25px;
              color: #606060;
              margin-top: 15px;
            }
          }
        }
        &__empty {
          height: 300px;
          background-color: #fff;
          color: #808080;
          text-align: center;
          .empty_logo {
            margin-top: 50px;
            width: 150px;
            height: auto;
          }
        }
      }
      &__page {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .prev {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #c0c0c0;
          border-radius: 4px;
          text-align: center;
          line-height: 40px;
          font-size: large;
        }
        .next {
          width: 40px;
          height: 40px;
          background-color: #fff;
          border: 1px solid #c0c0c0;
          border-radius: 4px;
          text-align: center;
          line-height: 40px;
          font-size: large;
        }
      }
    }
  }
}

.item_tab {
  width: 33%;
  text-align: center;
  &__active {
    width: 34%;
    background-color: #fff;
    border-top: 2px solid #ea352d;
  }
}

.item_tab2 {
  width: 50%;
  text-align: center;
  &__active {
    width: 50%;
    background-color: #fff;
    border-top: 2px solid #ea352d;
  }
}

.pan {
  padding: 0 330px;
  height: 50px;
  line-height: 50px;
  font-size: small;
  border-top: 1px solid #eee;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.18);
}

.mypagetitle {
  background-color: #dddddd;
  font-weight: bold;
}

.userface {
  width: 70px;
  height: 70px;
  object-fit: cover;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  font-size: 60px;
  background-color: #c0c0c0;
}

.heart,
.bell,
.check,
.user {
  line-height: 36px;
  color: gray;
}

.content,
.content2 {
  display: none;
}
.show,
.show2 {
  display: block;
}

.menu_item1,
.menu_item2 {
  background-color: #dddddd;
}
.active {
  background-color: #fff;
  border-top: 2px solid #ea352d;
}

.active1 {
  width: 34%;
  background-color: #fff;
  border-top: 2px solid #ea352d;
}

.card_delete_button {
  font-size: 13px;
  border-radius: 4px;
  color: #ea352e;
  border: 1px solid #ea352d;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.contents-mypage__left__lists__mypagelist__tag:hover {
  background-color: #f5f5f5;
}

.contents-mypage__right__middle__tablist__list__tag:hover {
  background-color: #f5f5f5;
}

.contents-mypage__right__bottom__lists__tag__item:hover {
  background-color: #f5f5f5;
}

.contents-mypage__right__exhibition__items__item:hover {
  background-color: #f5f5f5;
}

.profile_content {
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  min-height: 150px;
  padding: 10px;
  border: 2px solid #c0c0c0;
}

.profile_content::placeholder {
  color: #c0c0c0;
}

.profile_nickname {
  height: 45px;
  width: 190px;
  border-radius: 6px;
  border: 2px solid #c0c0c0;
  padding-left: 10px;
}

.profile_button {
  width: 100%;
  height: 60px;
  background-color: #ea352d;
  color: #f5f5f5;
  cursor: pointer;
}

.profile_image {
  display: none;
}

a {
  color: black;
}

.sales:hover {
  background-color: #f5f5f5;
}
