.bgc{
  background-color: rgb(245,245,245);
  .contents{
    background-color: #fff;
    width:700px;
    margin: 0 auto;
    &-title{
      padding: 32px 16px;
      font-size:22px;
      text-align: center;
    }
    &-item_img{
      border-top: 1px solid #eee;
      padding: 40px;
      &_image{
        margin: 0 auto ;
        max-width: 620px;
        width: 100%;
        line-height: 100%;
      }
      &_title{
        display: flex;
      }
  }
    &-item_text{
      border-top: 1px solid #eee;
      padding: 40px;
      &_title{
        display: flex;
        margin-top: 40px;
      }
    }
    &-item_select{
      padding: 40px;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      &_right{
        width:400px;
        &_category{
          margin-bottom: 40px;
        }
        &_text{
          display: flex;
        }
      }
    }
    &-delivery_select{
      border-top: 1px solid #eee;
      padding: 40px;
      display: flex;
      justify-content: space-between;
      &_right{
        width:400px;
        &_subtop{
          display: flex;
          padding: 0;
        }
        &_sub{
          display: flex;
          padding: 40px 0 0;
          &_cost{
            padding: 0;
          }
        }
      }
    }
    &-price{
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      padding: 40px;
      &_right{
        width:400px;
        &_item{
          display: flex;
          justify-content: space-between;
          &_text{
            display: flex;
            justify-content: start;
          }
        }
      &_tax{
      display: flex;
      justify-content: space-between;
        &_text{
          width: 180px;
        }
        &_result{
          width: 160px;
          text-align: right;
        }
      }
    }
      &_profit{
        display: flex;
        justify-content: space-between;
        &_text{
          width: 180px;
        }
        &_result{
          width: 160px;
          text-align: right;
        }
      }
    }
    &-btn{
      border-top: 1px solid #eee;
      padding: 40px;
      text-align: center;
      &_text{
        font-size: 14px;
      }
      &_back{
        margin: 0 auto;
      }
    }
  }
}

.must{
  background-color: red;
  color: white;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
}

#item_name{
  width:100%;
  margin: 8px,0,0;
}

#item_description{
  width:100%;
  margin: 8px,0,0;
}

#item_condition,#item_delivery_charge_detail,#item_delivery_origin,#item_delivery_date{
  width: 400px;
}

#item_price{
  width: 160px;
  text-align: right;
}


#preview_menus{
  display: flex;
  justify-content: start;
}

.form_sell{
  margin: 40px 0 0;
  background-color: red;
  border: 1px solid red;
  color: white;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
}

.form_edit{
  background-color: red;
  border: 1px solid red;
  color: white;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
}


.js-remove{
  width: 50px;
  background-color: #f5f5f5;
  color: #0099e8;
  text-align: center;
}

.js-edit{
  width: 50px;
  background-color: #f5f5f5;
  color: #0099e8;
  text-align: center;
}



.js-file{
  display: none;
}

.js-file2{
  display: inline-block;
  height:100%;
  width: 100%;
  background-color: rgb(245,245,245);
  text-align: center;
  height:119px;
  line-height: 119px;
  margin-top: 15px;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: dashed;
}

.js-img{
  margin-right: 24px;
  float: left;
  margin-top: 15px;
  
}


.js-file_group{
  margin: 0 auto ;
  max-width: 620px;
  width: 100%;
 
}

#image-box{
  margin: 0 auto ;
  max-width: 620px;
  width: 100%;
}

#item_delivery_origin_id{
  width:100%;
}

.select-default{
  width: 100%;
}

.cansel_edit{
  width:45%;
  margin:24px auto ;
  background-color: rgb(170,170,170);
  color: white;
  font-size: 14px;
  border: 1px solid #aaa;
  height:50px;
}

.cansel_edit:hover{
  opacity: 0.7;
}

.form_edit:hover{
  background: #FF3333;
}