.html
  .header
    -if current_user.present?
      =render 'logintop'
    -else
      = render "logouttop"
  .sell
    = render "sell"
  .contents
    .contents__carousel
    .contents__title
      %b アイテム一覧
    %ul.contents__all
      %li.contents__all__item
        .contents__all__item__image
          = image_tag src="/images/fmarket_logo_red.svg",class: 'example'
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム

  .footer
    = render "footer"