.html
  .hader
    = render "logintop"
  .sell
    = render "sell"
  .pan
    メルカリ＞マイページ＞ログアウト
  .contents-logout
    .contents-logout__left
      = render "mypageleft"
    .contents-logout__right
      .contents-logout__right__btn
        .contents-logout__right__btn__text
          ログアウト
  .footer
    = render "footer"